/*	
	Side Navigation Menu
	===================
	License:
	https://goo.gl/KC3XXj
	===================
	Author: @PableraShow

 */

@import url(http://pablogarciafernandez.com/css/reset.css);

/* Typography
  ------------------------------------- */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  color: #4d4d4d;
}

/* Navigation */

/* End Navigation */

/* Sections */

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: 300;
  color: #000;
  line-height: 1.8em;
}

h2 {
  font-weight: 300;
}

h2 a {
  font-weight: 700;
}

/* End Sections */

/* Structure
  ------------------------------------- */
body {
  background: #f1f1f1;
}

/* Navigation */

a {
  text-decoration: none;
  color: #151515;
  font-size: medium;

  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}
a :hover {
  color: gray;
}

.sidenavbar {
  margin-top: 19%;
  height: 100px;
  width: 30px;
}
nav a:hover {
  font-weight: 400;
}

nav,
nav:hover {
  padding: 0em;
}

nav a {
  text-indent: 00px;
}

nav:hover a {
  text-indent: 0px;
  color: #eeffe5;
}

svg,
a {
  vertical-align: top;
}

/* End Navigation */

/* Sections */

body {
  background: #f1f1f1;
}

/* Navigation */

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: auto;
  width: 50px;
  background-color: #fae5b3;

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

nav:hover {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  height: 100%;
  width: 150px;
  background-color: #fae5b3;
}

nav a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  margin-left: 0em;
}

nav:hover a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  color: #000;
}

li {
  display: block;
  padding: 0.2em;
  height: 32px;
}

svg,
a {
  display: inline-block;
}

/* End Navigation */

/* Sections */

section {
  padding: 2em 0 0 14em;
}

/* End sections */

@import url("https://fonts.googleapis.com/css?family=Hind:300,400");

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  background: #fff;
  color: #4d5974;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 110vh;
}

.container {
  margin: 00px auto;
  padding: 4rem;
  width: 50rem;
}

h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: gray;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #d27f03;
}

.accordion a:hover::after {
  border: 1px solid #d27f03;
}

.accordion a.active {
  color: black;
  border-bottom: 1px solid #d27f03;
}

.accordion a::after {
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #d27f03;
  text-align: center;
}

.accordion a.active::after {
  color: #d27f03;
  border: 1px solid #d27f03;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
