.rightnavbar {
  float: right;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans;
}

a {
  text-decoration: none;
}

.sm-navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 100px;
  align-items: center;
  background-color: #AD1B02;
}

.sm-logo {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  transition: ease;
  border-bottom: 3px solid transparent;
}
.sm-logo :hover {
  transition: ease;
  cursor: pointer;
}
.sm-logo :hover a {
  color: #003e83;
  transition: ease;
  border-bottom: 3px solid orange;
}

a {
  font-size: 2em;
  color: orange;
}

.sm-nav-menu {
  display: flex;
  margin-right: 30px;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-end;
}
li {
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin: 0;
}
.nav-links {
  margin-left: 50px;
  margin-right: 20px;
  color: #fff;
  padding: 8px;
  transition: ease;
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  /* border-bottom: 3px solid orange; */
}
.nav-links :hover {
  background: orange;
  padding: 8px;
  transition: ease;
  transform: scale(1.1);
}

.home {
  width: 150px;
  height: auto;
  position: relative;
  left: 1em;
}
