.about-api {
  float: left;
  padding: 1.5em 30px;
  width: calc(100% - 60px);
}
.box {
  float: left;
  padding: 1.5em 2em;
  width: 20%;
  height: 300px;
  margin-left: 6.5em;
  float: left;
  margin-left: 4em;
  margin-right: 1.333%;
  border: 1px solid #d7d8d6;
  margin-bottom: 20px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
}
.box img {
  position: absolute;
  padding: 0px;
  margin: 0;
  top: 13px;
}
.box .content {
  margin-top: 7em;
}
.icon {
  margin-left: 130px;
  margin-top: 10px;
}
p {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.box focus {
  background: #f5f5f5;
}
.box hover {
  background: #f5f5f5;
}

.box:last-child {
  border-right: 0.1em solid lightGrey;
}
.box h1 {
  text-align: center;
}
.box p {
  margin-top: 3em;
  height: 5em;
  text-align: justify;
}
.box .button {
  margin: auto;
}
.apiheader {
  font-size: medium;
  text-align: justify;
}
.button {
  display: block;
  padding: 0.75em 1.25em;
  font-size: 0.7em;
  background: orangered;
  color: #fff;
  border: 0;
  cursor: pointer;
  float: left;
}
.button focus {
  background: darken(red, 7%);
}
.button hover {
  background: darken(red, 7%);
}
.button active {
  background: #c10000;
}
.box .button {
  margin: 4em auto;
}
.sec-projects button {
  position: relative;
  left: 80%;
}
.openapi {
  margin-left: 4em;
}

.secureapi {
  margin-left: 4em;
}
.overviewfont {
  text-decoration: none;
}
.divider {
  padding-top: 450px;
  border-bottom: 1px solid lightgray;
}
.apicontent {
  font-size: medium;
}
.technicaldocumentation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: underline;
  padding-left: 10em;
  text-transform: none;
}
.securetechnical {
  color: black;
  text-decoration: none;
}


.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f5f6f7;
  font-size: .875rem;
  text-align: center;
  color: #333;
  font-weight: 700;
  height: 75px;
  width: 200px;
  right: -80px;
  top: -25px;
}

.box button {
  background: 0 0;
  border: 1px solid #929292;
  color: #333;
  padding: 15px 20px;
  font-size: 1rem;
  position: relative;
  top: 20px;
  margin: 0 !important;
}

.box button:hover {
  background-color: #ec0000;
  cursor: pointer;
  color: #fff;
  border: 1px solid #ccc;
}

.about {
  float: left;
  padding: 1.5em 3em;
  width: 100%;
  font-style: oblique;
}
.briefbody {
  font-style: normal;
  font-weight: 300px;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 900px;
  font-family: 'Roboto Slab', serif;
  color: #4b4b4b;
}
.aboutheader {
  border-left: 6px solid #db0011;
  padding-left: 10px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  color: #4b4b4b;
}

.full-width {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grey-bg {
  background-color: #f5f6f7;
  min-height: 240px;
  clear: both;
}