<section class="sec-boxes" role="section">
  <div class="full-width grey-bg">
    <div class="about-api">
      <h2 class="aboutheader">API</h2>
      <p class="briefbody">Build and extend your products and services with our intuitive and secure access interfaces. 
        Use our API Sandbox to develop your application and benefit from HSBC's international network.</p>
    </div>
  </div>
  <div>
    <div>
      <h1 class="openapi">Open APIs</h1>
    </div>
    <div class="box">
      <span class="star"></span>
      <h1 class="apiheader">Open API 1</h1>
      <img src="../../assets/accounts.png" class="icon" />
      <p class="content">
        Every option should be explored and tried no matter how unpredictable,
        impossi
      </p>
      <button
        href="overview"
        class="button"
        type="button"
        role="button"
        value="Overview"
        routerLinkActive="active"
        routerLink="overview"
      >
        <a href="overview" class="overviewfont"> Overview</a>
      </button>
      <p class="technicaldocumentation">Technical documentation</p>
    </div>
    <div class="box">
      <span class="star"></span>
      <h1 class="apiheader">Open API 2</h1>
      <img src="../../assets/atm.png" class="icon" />
      <p class="content">
        Brainstorming, idea generation, playing sessions, note taking. You think
        you used everything? We will challenge your mind and its abilities to
        the limits.
      </p>
      <button
        href="Overview"
        class="button"
        type="button"
        role="button"
        value="Overview"
        routerLinkActive="active"
        routerLink="overview"
      >
        <a href="overview" class="overviewfont"> Overview</a>
      </button>
      <p class="technicaldocumentation">Technical documentation</p>
    </div>
    <div class="box">
      <span class="star"></span>
      <h1 class="apiheader">Open API 3</h1>
      <img src="../../assets/cards.png" class="icon" />
      <p class="content">
        Our methods and ideas are are not written or following any books,
        curriculums or rules. We consider ourselves rebels and we are proud of
        it.
      </p>
      <button
        href="Overview"
        class="button"
        type="button"
        role="button"
        value="Overview"
        routerLinkActive="active"
        routerLink="overview"
      >
        <a href="overview" class="overviewfont"> Overview</a>
      </button>
      <p class="technicaldocumentation">Technical documentation</p>
    </div>
  </div>
</section>

<div class="divider"></div>
<div class="full-width grey-bg">
  <div class="about-api">
    <h2 class="aboutheader">Secure API's</h2>
    <p class="briefbody">Build and extend your products and services with our intuitive and secure access interfaces. 
      Use our API Sandbox to develop your application and benefit from HSBC's international network.</p>
  </div>
</div>
<div>
  <h2 class="secureapi">Secure APIs</h2>
</div>
<div class="box">
  <span class="star"></span>
  <h1 class="apiheader">Secure API 1</h1>
  <img src="../../assets/accounts.png" class="icon" />
  <p class="content">
    Brief description abouth the API
  </p>
  <button
    href="overview"
    class="button"
    type="button"
    role="button"
    value="Overview"
    routerLinkActive="active"
    routerLink="overview"
  >
    <a href="overview" class="overviewfont"> Overview</a>
  </button>
  <p class="technicaldocumentation">
    <a href="login" class="securetechnical">Technical documentation</a>
  </p>
</div>
<div class="box">
  <span class="star"></span>
  <h1 class="apiheader">Secure API 2</h1>
  <img src="../../assets/cards.png" class="icon" />
  <p class="content">
    Brainstorming, idea generation, playing sessions, note taking. You think you
    used everything? We will challenge your mind and its abilities to the
    limits.
  </p>
  <button
    href="Overview"
    class="button"
    type="button"
    role="button"
    value="Overview"
    routerLinkActive="active"
    routerLink="overview"
  >
    <a href="overview" class="overviewfont"> Overview</a>
  </button>
  <p class="technicaldocumentation">
    <a href="login" class="securetechnical">Technical documentation</a>
  </p>
</div>
<div class="box">
  <span class="star"></span>
  <h1 class="apiheader">Secure API 3</h1>
  <img src="../../assets/cards.png" class="icon" />
  <p class="content">
    Our methods and ideas are are not written or following any books,
    curriculums or rules. We consider ourselves rebels and we are proud of it.
  </p>
  <button
    href="Overview"
    class="button"
    type="button"
    role="button"
    value="Overview"
    routerLinkActive="active"
    routerLink="overview"
  >
    <a href="overview" class="overviewfont"> Overview</a>
  </button>
  <p class="technicaldocumentation">
    <a href="login" class="securetechnical">Technical documentation</a>
  </p>
</div>
