/*Typography*/
html {
  font: 16px "Open Sans Condensed", "Roboto Condensed", Verdana, sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 1.25em;
}
/*Layout*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: #333;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.line {
  float: left;
  width: 100%;
  border-top: 0.25em solid Black;
}
.wrapper {
  margin: auto;
  width: 100%; /*960px*/
  min-height: 100%;
  padding-left: 1%;
  padding-right: 1%;
}
header,
nav,
section,
footer {
  float: left;
  width: 100%;
}
a {
  text-decoration: none;
  transition: color 0.25s;
}
.button {
  display: block;
  padding: 0.75em 1.25em;
  font-size: 0.7em;
  background: orangered;
  color: #fff;
  border: 0;
  cursor: pointer;
  float: left;
}
.button focus {
  background: darken(red, 7%);
}
.button hover {
  background: darken(red, 7%);
}
.button active {
  background: #c10000;
}

.link {
  font-weight: bold;
  color: red;
}
.link focus {
  color: darken(red, 10%);
}
.link hover {
  color: darken(red, 5%);
}
.link active {
  color: lighten(red, 5%);
}

.homepageimage {
  width: 100%;
  height: 250px;
  background-image: url('../../assets/main_page_intro.jpg');
  background-repeat: repeat-x;
}

/*Navigation*/
nav h1 {
  float: left;
  padding: 0.25em 0.25em 0 0;
  font-size: 4.5em;
  text-transform: uppercase;
}
nav h1 a {
  color: red;
}
.nav-ul {
  display: flex;
}
header li {
  width: 20%;
}
header li:not(:first-child) {
  margin-left: 2%;
}
header .nav-ul a {
  display: block;
  padding: 1.75em 0.5em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: Black;
}
header .nav-ul a focus {
  color: red;
}
header .nav-ul a hover {
  color: red;
}
header .nav-ul a active {
  color: lighten(red, 5%);
}

header li:first-child a {
  background: red;
  color: #fff;
}
header li:first-child a hover {
  color: #fff;
}

/*Sections*/
section {
  margin: 1em 0;
}
section h1 {
  text-transform: uppercase;
}
hr {
  border-color: lightGrey;
  border-style: dashed;
}
.vertical {
  width: 0;
  height: 10px;
}
/*Intro*/
.sec-intro {
  position: relative;
}
.sec-intro img {
  width: 100%;
}
.sec-intro h1 {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.partners {
  text-align: center;
}
.apiheader {
  font-size: medium;
  text-align: justify;
}

.about {
  float: left;
  padding: 1.5em 3em;
  width: 100%;
  font-style: oblique;
}
.briefbody {
  font-style: normal;
  font-weight: 300px;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 900px;
  font-family: 'Roboto Slab', serif;
  color: #4b4b4b;
}
.aboutheader {
  border-left: 6px solid #db0011;
  padding-left: 10px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  color: #4b4b4b;
}
/*Boxes*/
.box {
  float: left;
  width: 25%;
  height: 370px;
  margin-left: 4em;
  margin-right: 1.333%;
  border: 1px solid #d7d8d6;
  padding: 20px 40px 40px 20px;
  margin-bottom: 20px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
}

.box focus {
  background: #f5f5f5;
}
.box hover {
  background: #f5f5f5;
}

.box:last-child {
  border-right: 0.1em solid lightGrey;
}
.box h1 {
  text-align: center;
}
.box p {
  margin-top: 4em;
  height: 6em;
  text-align: justify;
}
.box .button {
  margin: 4em auto;
}

.box button {
  background: 0 0;
  border: 1px solid #929292;
  color: #333;
  padding: 15px 20px;
  font-size: 1rem;
  position: relative;
  top: 20px;
  margin: 0 !important;
}

.box button:hover {
  background-color: #ec0000;
  cursor: pointer;
  color: #fff;
  border: 1px solid #ccc;
}
/*Events*/
.sec-events > h1 {
  margin-top: 1em;
}
.sec-events article {
  float: left;
  padding: 0 0.25em;
  width: 25%;
  text-align: justify;
}
.sec-events article h1,
.sec-events article p {
  display: block;
  margin: 0.5em 0;
  padding: 0.25em 1em;
  font-size: 110%;
}
.sec-events article a {
  float: right;
  padding-right: 1em;
}
.sec-events article h1 {
  font-weight: bold;
  text-align: center;
}
/*Projects*/
.sec-projects {
  width: 60%;
}
.sec-projects > h1 {
  margin-top: 1em;
  text-align: center;
}
.sec-projects article {
  padding: 0.5em 0;
  width: 100%;
}
.sec-projects article h1,
.sec-projects article p {
  font-size: 110%;
}
.sec-projects article h1 {
  font-weight: bold;
}
.sec-projects article p {
  margin: 0.5em 0.5em 0.5em 0;
  text-align: justify;
}
.sec-projects p a {
  float: right;
}
.sec-projects button {
  position: relative;
  left: 80%;
}
/*Standards*/
.sec-standards {
  width: 40%;
}
.sec-standards > h1 {
  margin-top: 1em;
  text-align: center;
}
.sec-standards article {
  float: left;
  padding: 0.5em 1em;
  width: 50%;
  text-align: justify;
}
.sec-standards article:last-child {
  padding: 0.5em 0;
}
.sec-standards article h1 {
  text-align: center;
}
/*Partners*/
.sec-partners h1 {
  margin-top: 1em;
}
.sec-partners .row {
  float: left;
  padding-left: 10%;
  margin: 2em 0;
  width: 100%;
}
.logo-container {
  float: left;
  width: 16%;
  width: 100px;
}
.logo-container:not(:first-child) {
  margin-left: 7.5%;
}
.logo-container:first-child {
  margin-top: 0.2em;
}
.logo-container:nth-of-type(2) img {
  margin-top: 1.2em;
}
.logo-container:nth-of-type(3) img {
  margin-top: 1.8em;
}
.logo-container:nth-of-type(4) img {
  margin-top: 2.35em;
}
.logo-container:nth-of-type(5) img {
  margin-top: 0.35em;
}
.logo-container:last-of-type img {
  margin-top: 0.65em;
}
.sec-partners img {
  float: left;
  width: 100%;
}
/*Footer*/
footer {
  padding: 2em 0;
  width: 100%;
  text-align: center;
  background: lightGrey;
}
footer .nav-ul {
  justify-content: center;
  margin-bottom: 1em;
}
footer li:not(:first-child) {
  margin-left: 0.75em;
}
footer li:first-child a {
  color: lightBlack;
}
footer a {
  font-size: 1.25em;
  font-weight: bold;
  color: darkGrey;
}
footer a focus {
  color: lightBlack;
}
footer a hover {
  color: lightBlack;
}

.copy {
  font-size: 0.85em;
}
.apicontent {
  font-size: medium;
  padding-left: 1em;
  padding-right: 1em;
}
.technicaldocumentation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-decoration: none;
  padding-left: 10em;
}


.boxes {
  clear:both;
  width: auto;
}

.add-box {
  width: 45%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d7d8d6;
  padding: 30px 20px;
  display: inline-block;
}

.add-space {
  margin-right: 40px;
}

.add-box .left-panel {
  width: 70%;
  display: inline-block;
  border-right: 1px solid #d7d8d6;
  height: 200px;
}

.add-box .right-panel {
  width: 30%;
  display: inline-block;
}

.right-panel .panel-img {
  position: relative;
  left: 34px;
  top: 34px;
}

.add-box .panel-body {
  padding-right: 50px;
  font-style: normal;
  font-weight: 300px;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 900px;
  font-family: 'Roboto Slab', serif;
  color: #4b4b4b;
}

.add-box .panel-header {
  padding-right: 50px;
  font-style: normal;
  font-weight: 300px;
  font-size: 1.375rem;
  line-height: 1.6;
  max-width: 900px;
  font-family: 'Roboto Slab', serif;
  color: #4b4b4b;
}

.full-width {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grey-bg {
  background-color: #f5f6f7;
  min-height: 240px;
  clear: both;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f5f6f7;
  font-size: .875rem;
  text-align: center;
  color: #333;
  font-weight: 700;
  height: 75px;
  width: 200px;
  right: -80px;
  top: -25px;
}