body {
  margin: 0;
  padding-left: 15%;
}

.title {
  text-align: left;
  padding: 20px 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 36px;
}

.container {
  float: left;
  width: 30%;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.formBox {
  width: 80%;
  padding: 30px 30px;
  box-sizing: border-box;
  height: 500px;
}

.formBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #5e6b72;
}

.formBox input {
  margin-bottom: 20px;
}
.formBox input[type="text"],
.formBox input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus {
  border: 1px solid #262626;
}

.loginsubmit {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  color: #fff;
  background: #262626;
  border-radius: 3px;
  margin-top: 15px;
  text-decoration: none;
  margin-bottom: 10px;
}
.aboutheader {
  border-left: 6px solid orangered;
  padding-left: 10px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  margin-left: 20%;
  margin-top: 7%;
}
