a {
  text-decoration: none;
  color: #151515;
  font-size: medium;

  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}
a :hover {
  color: gray;
}

.sidenavbar {
  margin-top: 500px;
  height: 100px;
  width: 30px;
}
nav a:hover {
  font-weight: 400;
}

nav,
nav:hover {
  padding: 0em;
}

nav a {
  text-indent: 00px;
}

nav:hover a {
  text-indent: 0px;
  color: #eeffe5;
}

svg,
a {
  vertical-align: top;
}

/* End Navigation */

/* Sections */

body {
  background: #f1f1f1;
}

/* Navigation */

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: auto;
  width: 50px;
  background-color: #fae5b3;

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

nav:hover {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  height: 100%;
  width: 150px;
  background-color: #ffb300;
}

nav a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  margin-left: 0em;
}

nav:hover a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  color: #000;
}

li {
  display: block;
  padding: 0em;
  height: 32px;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

svg,
a {
  display: inline-block;
}
