/*	
	Side Navigation Menu
	===================
	License:
	https://goo.gl/KC3XXj
	===================
	Author: @PableraShow

 */

@import url(http://pablogarciafernandez.com/css/reset.css);

/* Typography
 ------------------------------------- */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  color: #4d4d4d;
}

/* Navigation */

a {
  text-decoration: none;
  color: #151515;
  font-size: medium;

  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}
a :hover {
  color: gray;
}

.sidenavbar {
  margin-top: 200px;
  height: 30px;
  width: 30px;
}
nav a:hover {
  font-weight: 400;
}

nav,
nav:hover {
  padding: 0em;
}

nav a {
  text-indent: 00px;
}

nav:hover a {
  text-indent: 0px;
  color: #eeffe5;
}

svg,
a {
  vertical-align: top;
}

/* End Navigation */

/* Sections */

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: 300;
  color: #000;
  line-height: 1.8em;
}

h2 {
  font-weight: 300;
}

h2 a {
  font-weight: 700;
}

/* End Sections */

/* Structure
 ------------------------------------- */
body {
  background: #f1f1f1;
}

/* Navigation */

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: auto;
  width: 50px;
  background-color: #fae5b3;

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

nav:hover {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  height: 100%;
  width: 150px;
  background-color: #fae5b3;
}

nav a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  margin-left: 0em;
}

nav:hover a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  color: #000;
}

li {
  display: block;
  padding: 0.2em;
  height: 32px;
}

svg,
a {
  display: inline-block;
}

/* End Navigation */

/* Sections */

section {
  padding: 2em 0 0 14em;
}

/* End sections */
footer {
  padding: 2em 0;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: lightGrey;
}
footer .nav-ul {
  justify-content: center;
  margin-bottom: 1em;
}
footer li:not(:first-child) {
  margin-left: 0.75em;
}
footer li:first-child a {
  color: lightBlack;
}
footer a {
  font-size: 1.25em;
  font-weight: bold;
  color: darkGrey;
}
footer a focus {
  color: lightBlack;
}
footer a hover {
  color: lightBlack;
}
