body {
  margin: 0;
  padding-left: 15%;
}

.title {
  text-align: left;
  padding: 20px 0 20px;
  font-family: 'Montserrat', sans-serif;
}

.title h1 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 36px;
}

.container {
  float: left;
  width: 35%;
  height: 460px;
  background: #fff;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 9px 9px 15px -3px rgba(120,105,120,1);
  -moz-box-shadow: 9px 9px 15px -3px rgba(120,105,120,1);
  box-shadow: 9px 9px 15px -3px rgba(120,105,120,1);
  border-radius: 0px;

}

.formBox {
  padding: 15px;
  box-sizing: border-box;
  height: auto;
}

.formBox p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.formBox input {
  margin-bottom: 20px;
}
.formBox input[type="text"],
.formBox input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #929292;
  border-radius: 0px;
  box-sizing: border-box;
  width: 100%;
}

.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus {
  border: 1px solid #262626;
}

.formBox input[type="submit"],
.formBox input[type="button"] {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 0px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #929292;
  color: #333;
  font-size: 1rem;
  background: none;
}

.formBox input[type="submit"]:hover,
.formBox input[type="button"]:hover {
  background-color: #ec0000;
  cursor: pointer;
  color: #fff;
  border: 1px solid #ccc;
}
.aboutheader {
  border-left: 6px solid #db0011;
  padding-left: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

img {
  margin-left: 20%;
  margin-top: 10%;
}
